services:
  - type: web
    name: social-map-backend
    env: node
    region: ohio
    plan: free
    buildCommand: npm install
    startCommand: npm start
    rootDir: .
    envVars:
      - key: MONGO_URI
        sync: false
      - key: GOOGLE_CLIENT_ID
        sync: false
      - key: GOOGLE_CLIENT_SECRET
        sync: false
      - key: COOKIE_KEY
        generateValue: true
      - key: CLIENT_URL
        sync: false
      - key: PORT
        value: 10000
